<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-6">

      <h1 class="text-center text-dark mt-5">Edit</h1>

      <%= render "form", friend: @friend %>

      <br>

      <div>
        <%= link_to "Show this friend", @friend, class:"btn btn-dark" %> |
        <%= link_to "Back to friends", friends_path, class:"btn btn-dark" %>
      </div>
    </div>
  </div>
</div>